.about-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  height: 100vh;
}

.about-content {
  flex: 1;
  padding-right: 50px;
}

.about-photo {
  flex: 1;
  max-width: 400px;
  transition: all 0.5s ease; /* Add transition for smooth animation */
}

.about-photo img {
  max-width: 100%;
  height: auto;
}

/* Add hover styles */
.about-photo:hover {
  transform: scale(2) rotate(360deg);
  z-index: 1;
}
  /* Media queries for responsiveness */
  
  /* For tablets and small laptops */
  @media screen and (max-width: 1024px) {
    .about-container {
      flex-direction: column;
      height: auto;
      padding: 20px;
    }
  
    .about-content {
      padding-right: 0;
      margin-bottom: 30px;
    }
  
    .about-photo {
      max-width: 100%;
    }
  }
  
  /* For phones and small screens */
  @media screen and (max-width: 425px) {
    .about-container {
      padding: 20px;
    }
  }
  
  /* For large laptops */
  @media screen and (min-width: 1025px) and (max-width: 1440px) {
    .about-container {
      padding: 50px 50px;
    }
  }
  
  /* For desktops */
  @media screen and (min-width: 1441px) {
    .about-container {
      padding: 50px 50px;
    }
  }
  